<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Visit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div style="margin-left:30%; margin-right:20%; margin-top:2%;">
    <h6>Pet</h6>
    <table class="table table-striped" th:object="${pet}" style="margin-top:2%;">
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Type</th>
            <th>Owner</th>
        </tr>
        <tr>
            <td th:text="*{name}"></td>
            <td th:text="*{birthDate}"></td>
            <td th:text="*{petType.name}"></td>
            <td th:text="*{owner.firstName}"></td>
        </tr>
    </table>

    <div style="margin-left:20%; margin-top:2%;">
         <form th:object="${visit}" style="margin-top:5%;" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><h5>Description</h5></label>
                    <div class="col-sm-5">
                        <input type="text" th:field="*{description}" class="form-control"/>
                    </div>
                </div>
             <div class="form-group row">
                 <label class="col-sm-2 col-form-label"><h5>Date</h5></label>
                 <div class="col-sm-5">
                     <input type="text" th:field="*{localDate}" class="form-control" placeholder="YYYY-MM-DD"/>
                 </div>
             </div>
             <button class="btn btn-success btn-sm" type="submit" value="Submit"><h5>Add Visit</h5></button>
        </form>
    </div>

    <h6 style="margin-top:5%;">Previous Visits</h6>
    <table class="table table-striped" style="margin-top:2%;">
        <tr>
            <th>Date</th>
            <th>Description</th>
        </tr>
        <tr th:each="visit : ${visitsList}">
            <td th:text="${visit.localDate}"></td>
            <td th:text="${visit.description}"></td>
        </tr>
    </table>
</div>

</body>
</html>