<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div style="margin-left:30%; margin-right:20%; margin-top:2%;">

        <h2 >Owner Information</h2>
        <table class="table table-striped" th:object="${owner}" style="margin-top:2%;">
            <tr>
                <th>Name</th>
                <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
            </tr>
            <tr>
                <th>Address</th>
                <td th:text="*{address}"></td>
            </tr>
            <tr>
                <th>City</th>
                <td th:text="*{city}"></td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td th:text="*{telephone}"></td>
            </tr>
        </table>
        <a th:href="@{'/owner/' + ${owner.id}  + '/edit'}" class="btn btn-primary" style="margin-top:5%;">Edit</a>

        <a th:href="@{'/owner/' + ${owner.id}  + '/pets/new'}" class="btn btn-primary" style="margin-top:5%;">Add new Pet</a>

        <h2 style="margin-top:5%;">Pets and Visits</h2>

        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Birth Date</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="pet : ${owner.pets}">
                    <td th:text="${pet.name}"></td>
                    <td></td>
                    <td th:text="${pet.petType.name}"></td>
                    <td><button type="button" class="btn btn-success"><a>Edit Pet</a></button></td>
                    <td>EDIT VISIT</td>
                    <td><a href="#" th:href=" @{'/owner/' + ${owner.id} + '/pet/' + ${pet.id} +  '/delete' }"><button type="button" class="btn btn-danger">Delete</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>