<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner Details</title>
</head>
<body>
    <table class="table table-striped" th:object="${owner}">
        <tr>
            <th>Name</th>
            <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="*{address}"></td>
        </tr>
        <tr>
            <th>City</th>
            <td th:text="*{city}"></td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td th:text="*{telephone}"></td>
        </tr>
    </table>
</body>
</html>