<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Veterinarians</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div style="margin-left:20%; margin-right:20%;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th cope="col">ID</th>
                <th cope="col">First Name</th>
                <th cope="col">Last Name</th>
                <th cope="col">Speciality</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <th th:text="${vet.id}" scope="row"></th>
                <td th:text="${vet.firstName}"></td>
                <td th:text="${vet.lastName}"></td>
                <td>
                    <ul th:each="spec : ${vet.specialities}">
                        <li th:text="${spec.name}"> </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>